$containerMaxWidth: 1200px;
$containerWidth: 90%;
$roundValue: ("s": 4, "m": 8, "l": 12);
$roundDir: ('t': 'top', 'b': 'bottom');

.container {
  width: $containerWidth;
  max-width: $containerMaxWidth;
  margin: 0 auto;
}
.h {
  &--full {
    height: 100%;
  }
}

.rounded {
  @each $dir, $dirName in $roundDir {
    &--#{$dir} {
      @each $name, $val in $roundValue {
        &-#{$name} {
          border-#{$dirName}-left-radius: #{$val}px !important;
          border-#{$dirName}-right-radius: #{$val}px !important;
        }
      }
    }
  }
  @each $name, $val in $roundValue {
    &--#{$name} {
      border-radius: #{$val}px;
    }
  }
}

.text {
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }
}